backend/vendor
backend/bootstrap/cache/*.php
backend/storage/logs/*.log
backend/database/*.sqlite
web/node_modules
web/dist
mobile/.dart_tool
mobile/build
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/macos/Flutter/GeneratedPluginRegistrant.swift
.DS_Store
